# Ignore large model artifact directories
**/models/
**/models/**

# Ignore local tools and original data
tools/
data/
legacy_and_temp_files/

# Ignore localized data in suites (prevent pushing large files)
6_band_uncertainty_quantification/data/
Examples/*/data/

# Notebook checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/
